{% extends "::base.html.twig" %}

{% block title %}OK Mom - Tasks{% endblock %}

{% block content %}
    <div class="tasks">
    <h1>Welcome {{app.user.username}}!</h1>
    <hr>
    <div class="pagination datetime">
        <div class="arrow waves-effect prev"><a><i class="material-icons">chevron_left</i></a></div>
        <ul class="carousel carousel-slider center">
            <li class="arrow waves-effect carousel-item">
                <a href="#!"><i class="material-icons">chevron_left</i>PAST</a></li>
            {% for day in days %}
                <li class="carousel-item {{day|date("m/d/Y") == selected|date("m/d/Y") ? "active" : ""}}">
                    <a class="link" href="{{url('tasks')}}?date={{day|date("Y-m-d")}}">
                        <span>{{day|date("l")}}</span>
                        <div class="day-month">{{day|date("d F")}}</div>
                    </a>
                </li>
            {% endfor %}
            <li class="arrow waves-effect carousel-item">
                <a href="#!">NEXT<i class="material-icons">chevron_right</i></a></li>
        </ul>
        <div class="arrow waves-effect next"><a><i class="material-icons">chevron_right</i></a></div>
        <a class="btn btn-large today-btn" href="{{todayLink}}" title="TODAY">TODAY</a>
    </div>
    {% for task in tasks %}
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title grey-text activator text-darken-4">
                    <span class="truncate title activator">{{task.title}}</span>
                    <i class="material-icons right">more_vert</i>
                </span>
                <div class="time-line">
                    <div class="line"><span class="date">Start:</span><br><span>{{task.start|date("H:i")}}</div>
                    <div class="line"><span class="date">End:</span><br><span>{{task.end|date("H:i")}}</div>
                    <a class="details-link" href="{{url('homepage')}}task/{{task.id}}">MORE</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    <span class="title activator">{{task.title}}</span>
                    <i class="material-icons right">close</i></span>
                <p>{{task.description}}</p>
            </div>
        </div>
    {% endfor %}
    {% if tasks is empty %}
        <h2>There is no tasks today!</h2>
    {% endif %}
    </div>
{% endblock %}